[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.9'

[packages]
aiobotocore = "~=1.1.2"
discord.py = "~=1.5.1"
python-dotenv = "~=0.15.0"
api-client = "~=1.2.1"
factorio-rcon-py = "~=1.2.1"
packaging = "~=20.8"
paramiko = "~=2.7.2"

[dev-packages]
pylint="*"